*.lp.gz filter=lfs diff=lfs merge=lfs -text
outputs/gurobi/ca_final/**/best.sol filter=lfs diff=lfs merge=lfs -text
outputs/gurobi/ca_final/**/*.csv filter=lfs diff=lfs merge=lfs -text
outputs/gurobi/ca_final/**/*.json filter=lfs diff=lfs merge=lfs -text
